<div class="flex flex-col gap-4">
  <h1 class="text-center">Employee List</h1>
  <app-button routerLink="../add" variant="success">Add New Employee</app-button>
  <div class="bg-accent shadow-md rounded-md">
    <table class="w-full">
      <thead>
      <tr>
        <th *ngFor="let col of cols" class="p-2">{{col}}</th>
        <th class="text-right p-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let e of data">
        <td *ngFor="let col of cols" class="p-2">{{e[col]}}</td>
        <td class="text-right p-2">
          <div class="flex justify-end gap-2">
            <app-button routerLink="../edit" variant="info">Edit</app-button>
            <app-button variant="danger">Delete</app-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <app-pagination-control
    [page]="pageData.page"
    [size]="pageData.page"
    [count]="pageData.count"
    [totalPages]="pageData.totalPages"
    [totalCount]="pageData.totalCount"
    (onChangePage)="changePage($event)"
    (onChangeSize)="changeSize($event)"
  />
</div>
